{% extends "gestiondepartement/layouts/app.html" %}

{% block title %}
Faits et Chiffres
{% endblock title %}

{% block content %}
{% load static %}



<div id="ControlHeader_SubBannerContainer" class="subBanner" style="background-image:url({% static 'gestiondepartement/ContentFiles/15434BgImage343d.jpg'%});">    
</div>

<div class="header" style="display:none;">
    <div class="topHeader">
            <div class="clearfix">
                <div class="floatLeft">
                    
                </div>
                <div class="floatRight">
                    <div class="languagesSelect">
                        
                        
                    </div>
                    
                    
                    <div id="changePasswordPopup" style="display:none">
                        <iframe id="ControlHeader_iframe1"></iframe>
                        
                    </div>

                    <div class="headerBtns inlineMiddle">
                        <div class="dropDown quickLinks">
                            <a class="dropDownToggle headerBtn" href="javascript:;"><span class="dropDownText">Liens rapides</span></a>
                            <ul class="dropDownMenu row">

                                
                                      <li class="col-md-3 col-sm-6 col-xs-12">
                                         <ul>
                                    
                                       <li><a href="https://ua.edu.lb/saison-musicale" id="ControlHeader_RptQuickLinks_aTitle_0">
                                            Saison de Musique de Chambre</a></li>
                                        
                                    
                                       <li><a href="https://ua.edu.lb/?pageid=3136&amp;lang=3" id="ControlHeader_RptQuickLinks_aTitle_1">
                                             Chorale de l'Université Antonine</a></li>
                                        
                                    
                                       <li><a href="https://ua.edu.lb/french/guide-dutilisation-du-sis" id="ControlHeader_RptQuickLinks_aTitle_2">
                                            Guide d'utilisation du SIS </a></li>
                                        
                                    
                                        </ul></li>
                                    
                                <li class="col-md-3">
                                 
                                    <ul>
                                        
                                                <li><a href="https://ua.edu.lb/french/webmail" id="ControlHeader_RptOnLineTools_aTitle_0">
                                                    Webmail </a></li>
                                            
                                                <li><a href="https://ecourses-prod.ua.edu.lb/auth/oidc/" id="ControlHeader_RptOnLineTools_aTitle_1">
                                                    Moodle</a></li>
                                            
                                    </ul>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
    </div>
    <div class="bottomHeader">
            <a href="javascript:;" class="mobileMenuToggler"></a>
            <div class="logoHolder">
                <a href="https://ua.edu.lb/french/home" id="ControlHeader_aLogo">
                    <img src="../images/logo.png"></a>
            </div>
            
        <div class="clearfix"></div>
    </div>


</div>
<script type="text/javascript">

    function ValidateSearch(source, args) {

        var control = $(".searchInput").attr("id")
        var ctrl = document.getElementById(control).value
        var keyword = ctrl;
        args.IsValid = keyword.length > 2;

    }
</script>

<script src="https://ua.edu.lb/AutoSuggestJS?v=h45ocqt9EtxyvYp2ncrzB5fS7H4r6QTqlzf66CQNx6w1"></script>



   <link href="https://ua.edu.lb/AutoSuggestStyle?v=SyzOvjPbox447J8DTL1pyGHj1VNXZz1t-ig-J6L4_Bo1" rel="stylesheet"/>

<script type="text/javascript">

    $(document).ready(function () {
        AutoSuggest();
        $('[href="https://ecourses.ua.edu.lb"]').attr("href", "http://ecourses.ua.edu.lb/");

        $('span.selectedLanguage').click(function () {
            $('ul.langSelector').slideToggle();
        });
		if (location.href.indexOf('index.html') > 0) {
            $('.selectedLanguage').text('French')
        }
    });

    $(document).mouseup(function (e) {
        var container = $("ul.langSelector,span.selectedLanguage");

        // if the target of the click isn't the container nor a descendant of the container
        if (!container.is(e.target) && container.has(e.target).length === 0) {
            $('ul.langSelector').slideUp();
        }
    });

    function AutoSuggest() {


        //==================== Search With all plugins =================================================
        // Set autosuggest options with all plugins activated & response in xml
        var options = {
            script: "/searchaction.aspx?limit=10&lang=3&",
            varname: "input",
            shownoresults: true,                   // If disable, display nothing if no results
            noresults: "No Results",        // String displayed when no results
            maxresults: 5,                         // Max num results displayed
            cache: false,                          // To enable cache
            minchars: 3,                                  // Start AJAX request with at leat 2 chars
            timeout: 10000,                        // AutoHide in XX ms
            callback: function (obj) {           // Callback after click or selection
                window.location = obj.link;
            }
        };
        // Init autosuggest
        var as_json = new bsn.AutoSuggest('ControlHeader_SearchBlock1_txtKeyword', options);
    }

</script>





        

    <style>
        .backButtonLink {
            position: absolute;
            right: 0;
        }
    </style>

    <div class="innerPageContent">
        <div class="container">
            
        <div class="breadCrumb">
       
             <a href='home.html'>Accueil</a> <a href='javascript:;'>Le Dprt SED en bref </a> <a href="{% url 'gestiondepartement:apropos' %}">Le Dprt SED en un coup d’œil </a><span> Faits et chiffres </span>
</div>
            <div class="row">
                <div class="col-md-3 col-sm-3 leftMenu">
                    <div class="contentRight">
                        <div class="rightMenu simpleListBlock">
                       
                            <div id="cpMain_SideNavigationListing_litMainTitle" class="title">SED en un coup d’œil</div>

<div id="cpMain_SideNavigationListing_divSideBar" class="blockMain sidebar">
    
    <div class="blockBody">
        
        {% comment %} --------------------------------------------------------------- {% endcomment %}
        {% include 'gestiondepartement/includes/nav-apropos.html' %}

    </div>
</div>


<div id="cpMain_SideNavigationListing_SideNavigationExtraPageLinkContainer" class="link">
    
</div>

<script>
    if ($(".sidebar").length == 0) {
        $(".rightMenu.simpleListBlock").parent().parent().hide();
    }
</script>

                           <div id="cpMain_adWrapper" class="adWrapper"> <a id="cpMain_adLink" target="_blank">  <img id="cpMain_adImage" /></a></div>                      
   
                            </div>
                    </div>

                </div>
                <div class="col-md-9 col-sm-12">
                    <div class="contentLeft noPadding">
 <a id="cpMain_backButtonLink" class="backButtonLink" href="{% url 'gestiondepartement:apropos' %}">Retour</a>
                        <h1 id="cpMain_h2Title" class="pageTitle">Faits et chiffres </h1>
                        <div id="cpMain_divFisrt" class="normalText">
						
                            
				
                            <div id="cpMain_DivSection1" class="row">
                                
                                
                            </div>
										 
                            {% comment %} <p style="text-align: left;">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/d8Le9aKyVLM?si=KgvxiiWQLRucfZwT" 
                                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
                                gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"></iframe>
                            </p> {% endcomment %}
                            
                            <p style="text-align: left;">
                                La carte des faits et chiffres du département des sciences de l'éducation de l'ENSET de Douala vous offre une nouvelle perspective sur notre croissance ainsi que sur la confiance que la communauté nous accorde.
                            </p>
                            
                            <h2 style="text-align: left;">ENSET de Douala en Chiffres</h2>
                            
                            <h3 style="text-align: left;">Étudiants</h3>
                            <p style="text-align: left;"><strong>3 200</strong> étudiants inscrits au département des sciences de l'éducation pour l'année académique 2023 – 2024, répartis comme suit :</p>
                            <ul style="text-align: left;">
                                <li><strong>2 500</strong> inscrits au programme de formation des enseignants</li>
                                <li><strong>500</strong> inscrits aux cycles de master et de doctorat</li>
                                <li><strong>200</strong> étudiants internationaux</li>
                            </ul>
                            <p style="text-align: left;"><strong>950</strong> diplômés de l'année académique 2022 – 2023</p>
                            
                            <h3 style="text-align: left;">Membres du corps enseignant</h3>
                            <p style="text-align: left;"><strong>150</strong> membres du corps enseignant, dont :</p>
                            <ul style="text-align: left;">
                                <li><strong>40</strong> enseignants à temps plein</li>
                                <li><strong>110</strong> enseignants à temps partiel</li>
                            </ul>
                            
                            <h3 style="text-align: left;">Personnel administratif et technique</h3>
                            <p style="text-align: left;"><strong>80</strong> membres du personnel administratif et technique</p>
                            
                            <h3 style="text-align: left;">Accords et affiliations internationales de l'ENSET</h3>
                            <p style="text-align: left;">
                                <strong>25</strong> partenariats locaux pour la formation et les stages<br>
                                <strong>15</strong> accords de coopération avec des établissements d'enseignement supérieur étrangers<br>
                                <strong>5</strong> adhésions à des organisations internationales<br>
                                <strong>10</strong> enseignants-chercheurs étrangers en résidence
                            </p>
                            
                            <h3 style="text-align: left;">Campus</h3>
                            <p style="text-align: left;">
                                Campus principal de Douala<br>
                                Campus satellite à Yaoundé
                            </p>
                            
                            <h3 style="text-align: left;">Infrastructures et services de l'ENSET</h3>
                            <p style="text-align: left;">
                                <strong>10</strong> laboratoires spécialisés<br>
                                <strong>2</strong> auditoriums<br>
                                <strong>1</strong> cafétéria<br>
                                <strong>1</strong> bibliothèque centrale<br>
                                <strong>4</strong> unités de recherche<br>
                                <strong>3</strong> langues enseignées (français, anglais, espagnol)<br>
                                <strong>1</strong> centre de formation continue<br>
                                <strong>1</strong> bureau d'insertion professionnelle<br>
                                <strong>1</strong> complexe sportif<br>
                            </p>
                            
















<span id="cpMain_HtmlPH_lbItemFile" class="itemslinks"></span> 
<input type="hidden" name="ctl00$cpMain$HtmlPH$hdItemID" id="cpMain_HtmlPH_hdItemID" /><input name="ctl00$cpMain$HtmlPH$hdMultiItemsIDs" type="hidden" id="cpMain_HtmlPH_hdMultiItemsIDs" class="hiddenOrder" />
                            
                        </div>
                         
                        

<div id="cpMain_BICMSZone1_LoadingPanel" style="display:none;background-color:White;text-align:center;">
	
    <img id="cpMain_BICMSZone1_Image1" title="loading" src="../images/ajax.gif" alt="loading" />
    <br />
    Loading...

</div>
<div id="ctl00_cpMain_BICMSZone1_upMain" style="height:100%;width:100%;">
	<!-- 2019.3.1023.45 -->
    <div id="cpMain_BICMSZone1_divButtons">
        
    </div>
    <div id="cpMain_BICMSZone1_Panel1" class="column" style="border-width:1px;border-style:None;">
		
        <div class="portlet">
            
            <input name="ctl00$cpMain$BICMSZone1$txtOrder" type="hidden" id="cpMain_BICMSZone1_txtOrder" class="hiddenOrder" />
        </div>
    
	</div>
    

</div>
<div id="ctl00_cpMain_BICMSZone1_RadWindowManager1" style="display:none;">
	<div id="ctl00_cpMain_BICMSZone1_RadWindow1" style="display:none;">
		<div id="ctl00_cpMain_BICMSZone1_RadWindow1_C" style="display:none;">

		</div><input id="ctl00_cpMain_BICMSZone1_RadWindow1_ClientState" name="ctl00_cpMain_BICMSZone1_RadWindow1_ClientState" type="hidden" />
	</div><div id="ctl00_cpMain_BICMSZone1_RadWindowManager1_alerttemplate" style="display:none;">
		<div class="rwDialogPopup radalert">			
			<div class="rwDialogText">
			{1}				
			</div>
			
			<div>
				<a  onclick="$find('{0}').close(true);"
				class="rwPopupButton" href="javascript:void(0);">
					<span class="rwOuterSpan">
						<span class="rwInnerSpan">##LOC[OK]##</span>
					</span>
				</a>				
			</div>
		</div>
		</div><div id="ctl00_cpMain_BICMSZone1_RadWindowManager1_prompttemplate" style="display:none;">
		 <div class="rwDialogPopup radprompt">			
			    <div class="rwDialogText">
			    {1}				
			    </div>		
			    <div>
				    <script type="text/javascript">
				    function RadWindowprompt_detectenter(id, ev, input)
				    {							
					    if (!ev) ev = window.event;                
					    if (ev.keyCode == 13)
					    {															        
					        var but = input.parentNode.parentNode.getElementsByTagName("A")[0];					        
					        if (but)
						    {							
							    if (but.click) but.click();
							    else if (but.onclick)
							    {
							        but.focus(); var click = but.onclick; but.onclick = null; if (click) click.call(but);							 
							    }
						    }
					       return false;
					    } 
					    else return true;
				    }	 
				    </script>
				    <input title="Enter Value" onkeydown="return RadWindowprompt_detectenter('{0}', event, this);" type="text"  class="rwDialogInput" value="{2}" />
			    </div>
			    <div>
				    <a onclick="$find('{0}').close(this.parentNode.parentNode.getElementsByTagName('input')[0].value);"				
					    class="rwPopupButton" href="javascript:void(0);" ><span class="rwOuterSpan"><span class="rwInnerSpan">##LOC[OK]##</span></span></a>
				    <a onclick="$find('{0}').close(null);" class="rwPopupButton"  href="javascript:void(0);"><span class="rwOuterSpan"><span class="rwInnerSpan">##LOC[Cancel]##</span></span></a>
			    </div>
		    </div>				       
		</div><div id="ctl00_cpMain_BICMSZone1_RadWindowManager1_confirmtemplate" style="display:none;">
		<div class="rwDialogPopup radconfirm">			
			<div class="rwDialogText">
			{1}				
			</div>						
			<div>
				<a onclick="$find('{0}').close(true);"  class="rwPopupButton" href="javascript:void(0);" ><span class="rwOuterSpan"><span class="rwInnerSpan">##LOC[OK]##</span></span></a>
				<a onclick="$find('{0}').close(false);" class="rwPopupButton"  href="javascript:void(0);"><span class="rwOuterSpan"><span class="rwInnerSpan">##LOC[Cancel]##</span></span></a>
			</div>
		</div>		
		</div><input id="ctl00_cpMain_BICMSZone1_RadWindowManager1_ClientState" name="ctl00_cpMain_BICMSZone1_RadWindowManager1_ClientState" type="hidden" />
</div>




                        <div class="marginBottom"></div>
                        <div class="normalText">
                            




















<span id="cpMain_HtmlPH1_lbItemFile" class="itemslinks"></span> 
<input type="hidden" name="ctl00$cpMain$HtmlPH1$hdItemID" id="cpMain_HtmlPH1_hdItemID" /><input name="ctl00$cpMain$HtmlPH1$hdMultiItemsIDs" type="hidden" id="cpMain_HtmlPH1_hdMultiItemsIDs" class="hiddenOrder" />
                       
                            </div>
                        
                        

<div id="cpMain_BICMSZone4_LoadingPanel" style="display:none;background-color:White;text-align:center;">
	
    <img id="cpMain_BICMSZone4_Image1" title="loading" src="../images/ajax.gif" alt="loading" />
    <br />
    Loading...

</div>
<div id="ctl00_cpMain_BICMSZone4_upMain" style="height:100%;width:100%;">
	
    <div id="cpMain_BICMSZone4_divButtons">
        
    </div>
    <div id="cpMain_BICMSZone4_Panel1" class="column" style="border-width:1px;border-style:None;">
		
        <div class="portlet">
            
            <input name="ctl00$cpMain$BICMSZone4$txtOrder" type="hidden" id="cpMain_BICMSZone4_txtOrder" class="hiddenOrder" />
        </div>
    
	</div>
    

</div>
<div id="ctl00_cpMain_BICMSZone4_RadWindowManager1" style="display:none;">
	<div id="ctl00_cpMain_BICMSZone4_RadWindow1" style="display:none;">
		<div id="ctl00_cpMain_BICMSZone4_RadWindow1_C" style="display:none;">

		</div><input id="ctl00_cpMain_BICMSZone4_RadWindow1_ClientState" name="ctl00_cpMain_BICMSZone4_RadWindow1_ClientState" type="hidden" />
	</div><div id="ctl00_cpMain_BICMSZone4_RadWindowManager1_alerttemplate" style="display:none;">
		<div class="rwDialogPopup radalert">			
			<div class="rwDialogText">
			{1}				
			</div>
			
			<div>
				<a  onclick="$find('{0}').close(true);"
				class="rwPopupButton" href="javascript:void(0);">
					<span class="rwOuterSpan">
						<span class="rwInnerSpan">##LOC[OK]##</span>
					</span>
				</a>				
			</div>
		</div>
		</div><div id="ctl00_cpMain_BICMSZone4_RadWindowManager1_prompttemplate" style="display:none;">
		 <div class="rwDialogPopup radprompt">			
			    <div class="rwDialogText">
			    {1}				
			    </div>		
			    <div>
				    <script type="text/javascript">
				    function RadWindowprompt_detectenter(id, ev, input)
				    {							
					    if (!ev) ev = window.event;                
					    if (ev.keyCode == 13)
					    {															        
					        var but = input.parentNode.parentNode.getElementsByTagName("A")[0];					        
					        if (but)
						    {							
							    if (but.click) but.click();
							    else if (but.onclick)
							    {
							        but.focus(); var click = but.onclick; but.onclick = null; if (click) click.call(but);							 
							    }
						    }
					       return false;
					    } 
					    else return true;
				    }	 
				    </script>
				    <input title="Enter Value" onkeydown="return RadWindowprompt_detectenter('{0}', event, this);" type="text"  class="rwDialogInput" value="{2}" />
			    </div>
			    <div>
				    <a onclick="$find('{0}').close(this.parentNode.parentNode.getElementsByTagName('input')[0].value);"				
					    class="rwPopupButton" href="javascript:void(0);" ><span class="rwOuterSpan"><span class="rwInnerSpan">##LOC[OK]##</span></span></a>
				    <a onclick="$find('{0}').close(null);" class="rwPopupButton"  href="javascript:void(0);"><span class="rwOuterSpan"><span class="rwInnerSpan">##LOC[Cancel]##</span></span></a>
			    </div>
		    </div>				       
		</div><div id="ctl00_cpMain_BICMSZone4_RadWindowManager1_confirmtemplate" style="display:none;">
		<div class="rwDialogPopup radconfirm">			
			<div class="rwDialogText">
			{1}				
			</div>						
			<div>
				<a onclick="$find('{0}').close(true);"  class="rwPopupButton" href="javascript:void(0);" ><span class="rwOuterSpan"><span class="rwInnerSpan">##LOC[OK]##</span></span></a>
				<a onclick="$find('{0}').close(false);" class="rwPopupButton"  href="javascript:void(0);"><span class="rwOuterSpan"><span class="rwInnerSpan">##LOC[Cancel]##</span></span></a>
			</div>
		</div>		
		</div><input id="ctl00_cpMain_BICMSZone4_RadWindowManager1_ClientState" name="ctl00_cpMain_BICMSZone4_RadWindowManager1_ClientState" type="hidden" />
</div>




                        <div class="marginBottom"></div>
                        
                    </div>
                    
                    

<div id="cpMain_BICMSZone2_LoadingPanel" style="display:none;background-color:White;text-align:center;">
	
    <img id="cpMain_BICMSZone2_Image1" title="loading" src="../images/ajax.gif" alt="loading" />
    <br />
    Loading...

</div>
<div id="ctl00_cpMain_BICMSZone2_upMain" style="height:100%;width:100%;">
	
    <div id="cpMain_BICMSZone2_divButtons">
        
    </div>
    <div id="cpMain_BICMSZone2_Panel1" class="column" style="border-width:1px;border-style:None;">
		
        <div class="portlet">
            
            <input name="ctl00$cpMain$BICMSZone2$txtOrder" type="hidden" id="cpMain_BICMSZone2_txtOrder" class="hiddenOrder" />
        </div>
    
	</div>
    

</div>
<div id="ctl00_cpMain_BICMSZone2_RadWindowManager1" style="display:none;">
	<div id="ctl00_cpMain_BICMSZone2_RadWindow1" style="display:none;">
		<div id="ctl00_cpMain_BICMSZone2_RadWindow1_C" style="display:none;">

		</div><input id="ctl00_cpMain_BICMSZone2_RadWindow1_ClientState" name="ctl00_cpMain_BICMSZone2_RadWindow1_ClientState" type="hidden" />
	</div><div id="ctl00_cpMain_BICMSZone2_RadWindowManager1_alerttemplate" style="display:none;">
		<div class="rwDialogPopup radalert">			
			<div class="rwDialogText">
			{1}				
			</div>
			
			<div>
				<a  onclick="$find('{0}').close(true);"
				class="rwPopupButton" href="javascript:void(0);">
					<span class="rwOuterSpan">
						<span class="rwInnerSpan">##LOC[OK]##</span>
					</span>
				</a>				
			</div>
		</div>
		</div><div id="ctl00_cpMain_BICMSZone2_RadWindowManager1_prompttemplate" style="display:none;">
		 <div class="rwDialogPopup radprompt">			
			    <div class="rwDialogText">
			    {1}				
			    </div>		
			    <div>
				    <script type="text/javascript">
				    function RadWindowprompt_detectenter(id, ev, input)
				    {							
					    if (!ev) ev = window.event;                
					    if (ev.keyCode == 13)
					    {															        
					        var but = input.parentNode.parentNode.getElementsByTagName("A")[0];					        
					        if (but)
						    {							
							    if (but.click) but.click();
							    else if (but.onclick)
							    {
							        but.focus(); var click = but.onclick; but.onclick = null; if (click) click.call(but);							 
							    }
						    }
					       return false;
					    } 
					    else return true;
				    }	 
				    </script>
				    <input title="Enter Value" onkeydown="return RadWindowprompt_detectenter('{0}', event, this);" type="text"  class="rwDialogInput" value="{2}" />
			    </div>
			    <div>
				    <a onclick="$find('{0}').close(this.parentNode.parentNode.getElementsByTagName('input')[0].value);"				
					    class="rwPopupButton" href="javascript:void(0);" ><span class="rwOuterSpan"><span class="rwInnerSpan">##LOC[OK]##</span></span></a>
				    <a onclick="$find('{0}').close(null);" class="rwPopupButton"  href="javascript:void(0);"><span class="rwOuterSpan"><span class="rwInnerSpan">##LOC[Cancel]##</span></span></a>
			    </div>
		    </div>				       
		</div><div id="ctl00_cpMain_BICMSZone2_RadWindowManager1_confirmtemplate" style="display:none;">
		<div class="rwDialogPopup radconfirm">			
			<div class="rwDialogText">
			{1}				
			</div>						
			<div>
				<a onclick="$find('{0}').close(true);"  class="rwPopupButton" href="javascript:void(0);" ><span class="rwOuterSpan"><span class="rwInnerSpan">##LOC[OK]##</span></span></a>
				<a onclick="$find('{0}').close(false);" class="rwPopupButton"  href="javascript:void(0);"><span class="rwOuterSpan"><span class="rwInnerSpan">##LOC[Cancel]##</span></span></a>
			</div>
		</div>		
		</div><input id="ctl00_cpMain_BICMSZone2_RadWindowManager1_ClientState" name="ctl00_cpMain_BICMSZone2_RadWindowManager1_ClientState" type="hidden" />
</div>




                    <div class="marginBottom"></div>
					       <div class="moreListing subpageLinks">
                        <div class="">
                           <div class="blockBody">
                              <div>
                                 <ul class="listingHolder row">
                                      
                             
                                 </ul>
                              </div>
                              <div class="no-records">
                              </div>
                           </div>
                           <div class="clearBoth"></div>
                        </div>
                     </div>
                </div>

            </div>
        </div>
    </div>

    <input name="ctl00$cpMain$facultyValue" type="text" id="cpMain_facultyValue" style="display:none;" />

    
        <script>
            if (document.getElementById("cpMain_backButtonLink").href == "")
                document.getElementById("cpMain_backButtonLink").remove();
            <a href="AutoSuggest/index.html">AutoSuggest/</a>
            var str = document.getElementById('cpMain_facultyValue').value;
            if (str != null && str != "") {
                for (const item of document.querySelectorAll(".toggleTitle")) {
                    if (item.textContent.includes(str)) {
                        item.className += " active";
                        item.nextElementSibling.setAttribute("style", "display:block;");
                    }
                }
            }
        </script>
    


{% endblock content %}