{% load static %}
<div class="footer">
    <div class="closeFooter">
        <i aria-hidden="true" class="fa fa-plus"></i>
    </div>
    <div class="gotoTop">
        <i aria-hidden="true" class="fa fa-angle-up"></i>
    </div>
    <div class="footerMiddle">
        <div class="container">
            <div class="row">
                <div class="footerMenuContainer">
                    
<div class="menusMainCustom">
<div class="mainMenuCustom">
    <ul>
            <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_liContainer_0" class=" hasSubmenu">
            <a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_hlTitle_0" href="javascript:;">Étudiants</a>
                <div class="ddSecondLevel">
                    <div class="left"><ul><li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_0_liContainer_0"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_0_hlTitle_0" href="#affaires-estudiantines.html">Bureau des affaires estudiantines (AE)</a>
                            
                            </li> 
                            {% comment %} <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_0_liContainer_1"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_0_hlTitle_1" href="bureau-des-affaires-sociales.html">Bureau des affaires sociales</a>
                            
                            </li> <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_0_liContainer_2"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_0_hlTitle_2" href="registraire.html">Bureau du registraire</a>
                            
                            </li> <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_0_liContainer_3"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_0_hlTitle_3" href="bureau-des-examens.html">Bureau des examens</a>
                            
                            </li> <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_0_liContainer_4"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_0_hlTitle_4" href="service-d-appui-au-succes-academique.html">Service d’appui au succès académique</a>
                            
                            </li> <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_0_liContainer_5"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_0_hlTitle_5" href="pecua.html">Pool Étudiant de Concertation Universitaire Antonine</a>
                            
                            </li> <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_0_liContainer_6"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_0_hlTitle_6" href="https://ua.edu.lb/Subpage_en.aspx?pageid=15149&amp;lang=3">Bâtiments et équipements</a>
                            
                            </li> <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_0_liContainer_7"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_0_hlTitle_7" href="benevolat-etudiant.html">Bénévolat étudiant</a>
                            
                            </li> <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_0_liContainer_8"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_0_hlTitle_8" href="la-pastorale.html">La pastorale</a>
                            
                            </li> <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_0_liContainer_9"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_0_hlTitle_9" href="service-de-conseil.html">Service de conseil</a>
                            
                            </li> <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_0_liContainer_10"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_0_hlTitle_10" href="bureau-des-sports.html">Bureau des sports</a>
                            
                            </li> <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_0_liContainer_11"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_0_hlTitle_11" href="gouvernance/l-econome/droits-de-scolarite.html">Droits de scolarité</a>
                            
                            </li>  {% endcomment %}
                        </ul>
          
                    
            </li>
           
        
            <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_liContainer_1" class=" hasSubmenu">
            <a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_hlTitle_1" href="javascript:;">Admission </a>
                <div class="ddSecondLevel">
                    <div class="left"><ul><li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_1_liContainer_0"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_1_hlTitle_0" href="#bureau-d-orientation-et-d-admission.html">Bureau d’orientation et d’admission</a>
                            
                            </li> 
                            
                            {% comment %} <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_1_liContainer_1"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_1_hlTitle_1" href="premier-cycle.html">Premier cycle</a>
                            
                            </li> <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_1_liContainer_2"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_1_hlTitle_2" href="deuxieme-cycle.html">Deuxième cycle</a>
                            
                            </li> <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_1_liContainer_3"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_1_hlTitle_3" href="bureau-d-orientation-et-d-admission/resultats-des-examens-d-admission.html">Résultats des examens d’admission</a>
                            
                            </li> <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_1_liContainer_4"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_1_hlTitle_4" href="premier-cycle/examens-d-entree.html">Examens d’entrée</a>
                            
                            </li> <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_1_liContainer_5"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_1_hlTitle_5" href="bureau-d-orientation-et-d-admission/dates-a-retenir.html">Dates à retenir</a>
                            
                            </li>  {% endcomment %}
                        </ul>
          
                    <div id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_divExtraMenuContent_1"><div class='right'><p style="text-align: left;">Connexion</p>
<ul>
<li style="text-align: left;"><a href="" target="_blank"><span class="ui-provider vh b c d e f g h i j k l m n o p q r s t u v w x y z ab ac ae af ag ah ai aj ak" dir="ltr">Portail Administration</span></a></li>
{% comment %} <li style="text-align: left;"><a href="#affaires-estudiantines.html" target="_blank"><span class="ui-provider vh b c d e f g h i j k l m n o p q r s t u v w x y z ab ac ae af ag ah ai aj ak" dir="ltr">Vie estudiantine</span></a></li>
<li style="text-align: left;"><a href="#bureau-d-orientation-et-d-admission/guide-d-admission.html" target="_blank"><span class="ui-provider vh b c d e f g h i j k l m n o p q r s t u v w x y z ab ac ae af ag ah ai aj ak" dir="ltr">Guide d'admission</span></a></li> {% endcomment %}
</ul></div></div>
                </div>
            </li>
           
        
            <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_liContainer_2" class=" hasSubmenu">
            <a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_hlTitle_2" href="javascript:;">Formations</a>
                <div class="ddSecondLevel">
                    <div class="left"><ul><li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_2_liContainer_0"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_2_hlTitle_0" href="#asb.html">Conseiller d'orientation</a>
                            
                            </li> 
{% comment %} 								
                            <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_2_liContainer_1"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_2_hlTitle_1" href="fet.html">Faculté d’ingénierie et de technologie</a>
                            
                            </li> <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_2_liContainer_2"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_2_hlTitle_2" href="fic.html">Faculté d'information et de communication</a>
                            
                            </li> <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_2_liContainer_3"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_2_hlTitle_3" href="fmm.html">Faculté de musique et musicologie</a>
                            
                            </li> <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_2_liContainer_4"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_2_hlTitle_4" href="fph.html">Faculté de santé publique</a>
                            
                            </li> <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_2_liContainer_5"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_2_hlTitle_5" href="fss.html">Faculté des sciences du sport</a>
                            
                            </li> <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_2_liContainer_6"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_2_hlTitle_6" href="fot.html">Faculté de théologie</a>
                            
                            </li> <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_2_liContainer_7"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_2_hlTitle_7" href="specialisations-et-programmes.html">Spécialisations et programmes </a>
                            
                            </li> <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_2_liContainer_8"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_2_hlTitle_8" href="programme-ua-plus.html">Programme UA Plus</a>
                            
                            </li> <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_2_liContainer_9"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_2_hlTitle_9" href="calendrier-academique.html">Calendrier académique</a>
                            
                            </li> <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_2_liContainer_10"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_2_hlTitle_10" href="centre-de-langues.html">Centre de langues</a>
                            
                            </li> <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_2_liContainer_11"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_2_hlTitle_11" href="international.html">International</a>
                            
                            </li>  {% endcomment %}
                        </ul>
          
                    <div id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_divExtraMenuContent_2"></div>
                </div>
            </li>
           
        
            <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_liContainer_3" class=" hasSubmenu">
            <a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_hlTitle_3" href="javascript:;">Recherche </a>
                <div class="ddSecondLevel">
                    <div class="left"><ul><li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_3_liContainer_0"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_3_hlTitle_0" href="#gouvernance/vice-recteurs/vice-recteur-a-la-recherche.html">Vice-rectorat à la recherche</a>
                            
                            </li> 
                            {% comment %} <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_3_liContainer_1"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_3_hlTitle_1" href="https://ua.edu.lb/Subpage_en.aspx?pageid=15349&amp;lang=3">Unités de recherche</a>
                            
                            </li> <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_3_liContainer_2"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_3_hlTitle_2" href="https://ua.edu.lb/Subpage_en.aspx?pageid=15404&amp;lang=3">Les presses de l’Université Antonine</a>
                            
                            </li> <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_3_liContainer_3"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_3_hlTitle_3" href="https://ua.edu.lb/Subpage_en.aspx?pageid=15421&amp;lang=3">Bibliothèque</a>
                            
                            </li>  {% endcomment %}
                        </ul>
          
                    <div id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_divExtraMenuContent_3"></div>
                </div>
            </li>
           
        
            <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_liContainer_4" class=" hasSubmenu">
            <a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_hlTitle_4" href="javascript:;">Le Dprt SED en bref</a>
                <div class="ddSecondLevel">
                    <div class="left"><ul><li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_4_liContainer_0"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_4_hlTitle_0" href="#ua-en-un-coup-d-oeil.html">A Propos de nous</a>
                            
                           </li>
                          {% comment %}   
                           <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_4_liContainer_1"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_4_hlTitle_1" href="gouvernance.html">Gouvernance </a>
                            
                            </li> <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_4_liContainer_2"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_4_hlTitle_2" href="isaq.html">Initiatives stratégiques et assurance qualité</a>
                            
                            </li> <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_4_liContainer_3"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_4_hlTitle_3" href="https://ua.edu.lb/Subpage_en.aspx?pageid=31939&amp;lang=3">Objectifs de développement durable : 17 objectifs pour transformer notre monde</a>
                            
                            </li> <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_4_liContainer_4"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_4_hlTitle_4" href="international.html">International</a>
                            
                            </li> <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_4_liContainer_5"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_4_hlTitle_5" href="campus.html">Campus</a>
                            
                            </li> <li id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_4_liContainer_6"><a id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_rptrSecondLevelMenu_4_hlTitle_6" href="https://ua.edu.lb/DirectoryListing_en.aspx?pageid=15486&amp;lang=3">Annuaires</a>
                             {% endcomment %}
                            </li> </ul>
          
                    <div id="ControlFooter_MainMenuCustom_rptrMainMenuCustom_divExtraMenuContent_4"></div>
                </div>
            </li>
           
        
             
            </ul>       
</div>
</div>
                </div>
                
                <div class="col-md-3">
                    
<div class="blockMain newsletterSubscribe">
<h5 class="simpleListTitle">
    Inscrivez-vous à notre newsletter</h5>
<div class="RadAjaxPanel" id="ctl00_ControlFooter_NewsletterSuscribe_ctl00_ControlFooter_NewsletterSuscribe_rapnl1Panel">
<div id="ctl00_ControlFooter_NewsletterSuscribe_rapnl1">
    
    
    
    <div class="normalText">
        
    </div>
    <div id="ControlFooter_NewsletterSuscribe_pnlSubscribe" class="newsletterSearch" onkeypress="javascript:return WebForm_FireDefaultButton(event, &#39;ControlFooter_NewsletterSuscribe_btnJoin&#39;)">
        
        <div class="newsletterSearch">
            <input name="ctl00$ControlFooter$NewsletterSuscribe$txtNLEmail" type="text" id="ControlFooter_NewsletterSuscribe_txtNLEmail" class="mandatory email" placeholder="Entrez votre courriel" />
            <span><input type="button" name="ctl00$ControlFooter$NewsletterSuscribe$btnJoin" value="Envoyer" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$ControlFooter$NewsletterSuscribe$btnJoin&quot;, &quot;&quot;, true, &quot;NLSubscribe&quot;, &quot;&quot;, false, true))" id="ControlFooter_NewsletterSuscribe_btnJoin" /></span>
            <span id="ControlFooter_NewsletterSuscribe_ctl02" class="erroMessage" style="display:none;">Veuillez renseigner une adresse email valide</span>
            <span id="ControlFooter_NewsletterSuscribe_regexEmailValid" class="erroMessage" style="visibility:hidden;">Veuillez renseigner une adresse email valide</span>
        </div>
    
    </div>

</div>
</div>
  <div id="ControlFooter_NewsletterSuscribe_LoadingPanelNL" class="Loader" style="display:none;">

</div>
</div>


                </div>
            </div>
        </div>
    </div>
    <div class="footerBottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    © 2024 - Site officiel du Département des Sciences de l'Education de l'Enset de Douala
                    
                            &nbsp;&nbsp;|&nbsp;&nbsp;<a href="#" id="ControlFooter_rptFooterLinks_aTitle_0">Index (A-Z)</a>
                        
                            &nbsp;&nbsp;|&nbsp;&nbsp;<a href="#nous-contacter.html" id="ControlFooter_rptFooterLinks_aTitle_1">Nous contacter</a>
                        
                            &nbsp;&nbsp;|&nbsp;&nbsp;<a href="#" id="ControlFooter_rptFooterLinks_aTitle_2">Confidentialité et mentions légales</a>
                        
                    
                  
                </div>
                <div class="col-md-6 col-sm-12 socialBottom">

                    
    <div class="blockMain socialIconsMain">
        <h5 class="simpleListTitle">Suivez-nous sur:</h5>
        <ul class="socialIcons">

            <li><a href="#" id="ControlFooter_SocialIconsListing_rptSocialLinks_aSocial_0" target="_blank" title="youtube" class="fa fa-youtube-play"><i id="ControlFooter_SocialIconsListing_rptSocialLinks_iClassHolder_0" aria-hidden="true" class="fa fa-youtube-play"></i></a></li>

            <li><a href="#" id="ControlFooter_SocialIconsListing_rptSocialLinks_aSocial_1" target="_blank" title="linkedin" class="fa fa-linkedin"><i id="ControlFooter_SocialIconsListing_rptSocialLinks_iClassHolder_1" aria-hidden="true" class="fa fa-linkedin"></i></a></li>

            <li><a href="#" id="ControlFooter_SocialIconsListing_rptSocialLinks_aSocial_2" target="_blank" title="insta" class="fa fa-instagram"><i id="ControlFooter_SocialIconsListing_rptSocialLinks_iClassHolder_2" aria-hidden="true" class="fa fa-instagram"></i></a></li>

            <li><a href="#" id="ControlFooter_SocialIconsListing_rptSocialLinks_aSocial_4" target="_blank" title="facebook" class="fa fa-facebook"><i id="ControlFooter_SocialIconsListing_rptSocialLinks_iClassHolder_4" aria-hidden="true" class="fa fa-facebook"></i></a></li>

            <li><a href="#" id="ControlFooter_SocialIconsListing_rptSocialLinks_aSocial_3" target="_blank" title="Twitter" class="fa fa-twitter"><i id="ControlFooter_SocialIconsListing_rptSocialLinks_iClassHolder_3" aria-hidden="true" class="fa fa-twitter"></i></a></li>
    
            <li><a href="#" id="ControlFooter_SocialIconsListing_rptSocialLinks_aSocial_5" target="_blank" title="Tiktok" style="background-image:url(gestiondepartement/ContentFiles/31441Image.png);"><i id="ControlFooter_SocialIconsListing_rptSocialLinks_iClassHolder_5" aria-hidden="true"></i></a></li>

    </ul>
  </div>


                
                </div>
            </div>
        </div>
    </div>
</div>