<ul class="leftNav">
            
    <li id="cpMain_SideNavigationListing_rptrSideNavigation_liContainer_0">
        <a id="cpMain_SideNavigationListing_rptrSideNavigation_hlTitle_0" href="{% url 'gestiondepartement:missions' %}">Mission, vision et valeurs</a>
        

    </li>

    <li id="cpMain_SideNavigationListing_rptrSideNavigation_liContainer_1">
        <a id="cpMain_SideNavigationListing_rptrSideNavigation_hlTitle_1" href="{% url 'gestiondepartement:faits' %}">Faits et chiffres </a>
        

    </li>

    {% comment %} <li id="cpMain_SideNavigationListing_rptrSideNavigation_liContainer_2">
        <a id="cpMain_SideNavigationListing_rptrSideNavigation_hlTitle_2" href="visite-virtuelle-a-360.html">Visite virtuelle à 360°</a>
        

    </li> {% endcomment %}
</ul>